{% extends 'base.html' %}
{% block content %}
<main id="main" class="site-article legal">
<h1>Реквизиты</h1>
<p>Редакция от 10 сентября 2026 года</p>
<dl>
<dt>Полное наименование</dt>
<dd>Автономная некоммерческая организация «Клуб выпускников факультета права НИУ ВШЭ»</dd>
<dt>Сокращённое наименование</dt>
<dd>АНО «Клуб выпускников факультета права НИУ ВШЭ»</dd>
<dt>ОГРН</dt>
<dd>1257700005551</dd>
<dt>ИНН</dt>
<dd>9707041865</dd>
<dt>КПП</dt>
<dd>771801001</dd>
<dt>ОКПО</dt>
<dd>72293692</dd>
<dt>Дата регистрации</dt>
<dd>13.01.2025</dd>
<dt>Руководитель</dt>
<dd>Спиваков Алексей Игоревич</dd>
<dt>Юридический адрес</dt>
<dd>107061, г. Москва, ул. Большая Черкизовская, д. 3, к. 2, помещ. 17/1</dd>
<dt>Обращения по персональным данным</dt>
<dd>Письменное обращение по юридическому адресу оператора</dd>
</dl>
<p>Банковские реквизиты в открытой карточке ЕГРЮЛ / Rusprofile не опубликованы и здесь не указываются. Оператор сайта и исполнитель образовательной программы могут быть разными организациями. Исполнитель, лицензия и выдаваемый документ определяются условиями конкретной программы и договором.</p>
</main>
{% endblock %}
