/* Источник шрифтов: hse.ru/info/brandbook; файлы преобразованы в woff2. */

@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('HSESans-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('HSESans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('HSESans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('HSESans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('HSESans-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('HSESans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'HSE Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('HSESlab-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Slab';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('HSESlab-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'HSE Slab';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('HSESlab-Italic.woff2') format('woff2');
}
